dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/{{user}}/Workspace/dotfiles"
  ]
board:
  title: "board"
  paths: [
    "/Users/{{user}}/Workspace/nativead/board"
  ]
api:
  title: "api"
  paths: [
    "/Users/{{user}}/Workspace/nativead/api"
  ]
dashboard:
  title: "dashboard"
  paths: [
    "/Users/{{user}}/Workspace/nativead/dashboard"
  ]
cocinando:
  title: "cocinando"
  paths: [
    "/Users/{{user}}/Workspace/htdocs/cocinando"
  ]
