[user]
    name = JoseAngel
    email = joseangel@native.ad
[github]
    user = j8seangel
[color]
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore
[alias]
    st = status
    ci = commit
    br = branch -a
    co = checkout
    df = diff
    lg = log -p
    ft = fetch -p
