"*":
  "exception-reporting":
    userId: "41cbedc9-3477-568d-cd05-8df535ad8564"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/joseangel/Workspace"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    tabLength: 4
  "one-dark-ui": {}
  "atom-beautify":
    _analyticsUserId: "b64fba17-eb1c-422a-9a39-23a43a36c424"
  emmet: {}
