dotfiles:
  title: "dotfiles"
  paths: [
    "/Users/joseangel/Workspace/dotfiles"
  ]
board:
  title: "board"
  paths: [
    "/Users/joseangel/Workspace/nativead/board"
  ]
api:
  title: "api"
  paths: [
    "/Users/joseangel/Workspace/nativead/api"
  ]
dashboard:
  title: "dashboard"
  paths: [
    "/Users/joseangel/Workspace/nativead/dashboard"
  ]
cocinando:
  title: "cocinando"
  paths: [
    "/Users/joseangel/Workspace/htdocs/cocinando"
  ]
